@font-face {
font-family: PremierLeague;
src: url(bootstrap/fonts/Barclays Premier League.ttf);
}

/* set the font and colors of the page */
body {
  font-family: PremierLeague, Helvetica, Arial, sans-serif;
  background-color: #00ff95;
  color: #3d195b;
}

/*used on the log on screen to vertical canter all content*/
.vertical-center {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -150px;
}

/*used to center text*/
.center-all-content {
  text-align: center;
}

/*the styling for the log in button*/
.startbtn {
  margin-top: 20px;
  min-width: 188px;
  border-radius: 6px;
  height: 40px;
  font-size: 20px;
  color: #00ff95;
  background-color: #3d195b;
  border: none;
}


/* divs to allow the user to select a team*/
.selectTeam > div {
  margin-bottom: 20px;

}
.selectTeam > div > button{
  margin: 10px;
  background-color: #e5e5e5;
  padding-bottom: 20px;
  border-radius: 15px;
}
/*sets the spacing aroun th crest images*/

.selectTeam > div > button > img{
  padding: 20px;
}
.selectTeam > div > button > p{
  background-color: #ff015b;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* model styles */
.modal-header > h2{
  text-align: center;
}

.modal-title > img{
  height: 400px;
  display: block;
    margin: 0 auto;
}


/*league table view */
#tableview{
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;

  justify-content: center;
}

#leagueTable {
  width: 600px;
  align-self: center;
}
#leagueTable tr{
  background-color: #e5e5e5;
  height: 30px
  border-top 1px solid #ff015b;
}

#leagueTable  td, #leagueTable  th {
  padding-left: 15px;
}
/*  league table styles*/
#leagueTable .head{
  background-color: #3d195b;
  color: #ff015b;
  height: 30px;
}

/*top 4*/
#leagueTable tr:nth-child(5) {
  background-color: #ff015b;
}
#leagueTable  tr:nth-child(4) {
  background-color: #ff015b;
}
#leagueTable  tr:nth-child(3) {
  background-color: #ff015b;
}
#leagueTable  tr:nth-child(2) {
  background-color: #ff015b;
}


/*bottom 3*/
#leagueTable tr:nth-child(21) {
  background-color: #05f1ff;
}
#leagueTable  tr:nth-child(20) {
  background-color: #05f1ff;
}
#leagueTable tr:nth-child(19) {
  background-color: #05f1ff;
}
/*highlights users team*/
.userRow{
  background-color: #ebff00 !important;
}

.dot{
  font-size: 30px;
}
#leagueTable td:nth-child(2) {
  padding-left: 0px;
}
/* table borders*/
#leagueTable  tr {
  border-bottom: 1pt solid #3d195b;
}
#leagueTable  td:nth-child(3) {
  border-right: 1pt solid #3d195b;
}
#leagueTable  td:nth-child(4) {
  border-right: 1pt solid #3d195b;
}
#leagueTable  td:nth-child(5) {
  border-right: 1pt solid #3d195b;
}
#leagueTable  td:nth-child(6) {
  border-right: 1pt solid #3d195b;
}
#leagueTable  td:nth-child(7) {
  border-right: 1pt solid #3d195b;
}
#leagueTable  td:nth-child(8) {
  border-right: 1pt solid #3d195b;
}

#leagueTable tr:hover{
  background-color: #00ff95;
}

#gamewindow{
  margin-top: 30px;
}
#leagueTable .head:hover{
  background-color: #3d195b!important;

}


/* left menu bar styles*/
.leftbar{
  text-align: center;
  display: inline-grid;
  margin: auto;
}

.leftbar > button{
  margin-bottom: 30px;
  min-width: 188px;
  border-radius: 6px;
  height: 40px;
  font-size: 20px;
  color: #00ff95;
  background-color: #3d195b;
  border: none;
}




/*fixture view */

.single {
  border-radius: 10px;
}
.single img{
  height: 50px;
}

.single tr{
  background-color: #e5e5e5;
}
.single{
  font-size: 25px;
}
.v{
  padding-left: 15px;
  padding-right: 15px;
  text-align: center!important;
  font-size: 40px;
  color: #e5e5e5;
  background-color: #3d195b;
}
.single  td:nth-child(1) {
  padding-left: 10px;
}
.single  td:nth-child(5) {
  padding-right: 10px;
}

.single  td:nth-child(2) {
  width: 230px;
  text-align: right;
  padding-right: 20px;
}
.single  td:nth-child(4) {
  width: 230px;
  padding-left: 20px;

}
.fixtures{
  margin-bottom: 20px;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  justify-content: center;
}



/* palyer selection screen*/
#selectPlayers{
  background-color: #ff015b;
  color: #3d195b;

}
#selectPlayers:hover{
  background-color: #3d195b;
  color: #ff015b;
}


#teamSelectView{
  background-color: #ff015b;
}


#teamSelectView{
  text-align: center;
  margin: auto;
  background-image: url("images/pitch.png");
  background-size: 600px;
  height: 450px;
}

/* styles for drop boxes to select team*/
.defend, .mid, .attacker, #goalkeeper{
  display: inline-flex;
}
#goalkeeper {
    margin-top: 10px;
}
#leftStk, #rightStk, #leftMid, #leftCenterMid, #rightCenterMid, #rightMid, #leftBack, #leftCenterHalf, #rightCenterHalf, #rightBack{
  margin-top: 20px;
}
#rightStk, #leftCenterMid, #rightCenterMid, #rightMid, #leftCenterHalf, #rightCenterHalf, #rightBack{
  margin-right: 40px;
}
#leftStk, #rightStk, #leftMid, #leftCenterMid, #rightCenterMid, #rightMid, #leftBack, #leftCenterHalf, #rightCenterHalf, #rightBack, #goalkeeper {
  width: 90px;
  height: 90px;
  border: 3px solid #ff015b;
}

#leftStk img, #rightStk img, #leftMid img, #leftCenterMid img, #rightCenterMid img, #rightMid img, #leftBack img, #leftCenterHalf img, #rightCenterHalf img, #rightBack img, #goalkeeper img {
  height: 80px;
}

/* dragable players*/
#playersSel{
  background-color: #ff015b;
}
#playersSel p{
  height: 90px;
}

#playersSel img{
  height: 80px;
}
