@font-face {
font-family: PremierLeague;
src: url(bootstrap/fonts/Barclays Premier League.ttf);
}

/* set the font and colors of the page */
body {
  font-family: PremierLeague, Helvetica, Arial, sans-serif;
  background-color: #00ff95;
  color: #3d195b;
}

/*used on the log on screen to vertical canter all content*/
.vertical-center {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -150px;
}

/*used to center text*/
.center-all-content {
  text-align: center;
}

/*the styling for the log in button*/
.startbtn {
  margin-top: 20px;
  min-width: 188px;
  border-radius: 6px;
  height: 40px;
  font-size: 20px;
  color: #00ff95;
  background-color: #3d195b;
  border: none;
}


/* divs to allow the user to select a team*/
.selectTeam > div {
  margin-bottom: 20px;

}
.selectTeam > div > button{
  margin: 10px;
  background-color: #e5e5e5;
  padding-bottom: 20px;
  border-radius: 15px;
}
/*sets the spacing aroun th crest images*/

.selectTeam > div > button > img{
  padding: 20px;
}
.selectTeam > div > button > p{
  background-color: #ff015b;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* model styles */
.modal-header > h2{
  text-align: center;
}

.modal-title > img{
  height: 400px;
  display: block;
    margin: 0 auto;
}


table{
  width: 600px;
}
tr{
  background-color: #e5e5e5;
  height: 30px
  border-top 1px solid #ff015b;
}

td, th {
  padding-left: 15px;
}
/*  league table styles*/
.head{
  background-color: #3d195b;
  color: #ff015b;

  height: 30px;
}

/*top 4*/
tr:nth-child(5) {
  background-color: #ff015b;
}
tr:nth-child(4) {
  background-color: #ff015b;
}
tr:nth-child(3) {
  background-color: #ff015b;
}
tr:nth-child(2) {
  background-color: #ff015b;
}


/*bottom 3*/
tr:nth-child(21) {
  background-color: #05f1ff;
}
tr:nth-child(20) {
  background-color: #05f1ff;
}
tr:nth-child(19) {
  background-color: #05f1ff;
}
/*highlights users team*/
.userRow{
  background-color: #ebff00 !important;
}

.dot{
  font-size: 30px;
}
td:nth-child(2) {
  padding-left: 0px;
}
/* table borders*/
tr {
  border-bottom: 1pt solid #3d195b;
}
td:nth-child(3) {
  border-right: 1pt solid #3d195b;
}
td:nth-child(4) {
  border-right: 1pt solid #3d195b;
}
td:nth-child(5) {
  border-right: 1pt solid #3d195b;
}
td:nth-child(6) {
  border-right: 1pt solid #3d195b;
}
td:nth-child(7) {
  border-right: 1pt solid #3d195b;
}
td:nth-child(8) {
  border-right: 1pt solid #3d195b;
}

tr:hover{
  background-color: #00ff95;
}
